<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>订单管理</title>
<!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
<script src="__ROOT__/static/js/jquery-3.3.1.js"></script>
<script src="__ROOT__/static/layer/layer.js"></script>
<script>  
       $(document).ready(function(){
        $('.submit').on('click', function(){
        var id =$(this).attr("id");
        layer.open({
          type: 2,
          title: '修改订单',
          maxmin: true,
          shadeClose: true, //点击遮罩关闭层
          area : ['700px' , '450px'],
          content: 'http://localhost/tp6/public/feedback/UpdateFeedback/form?id='+id
            });
        });
       });
    </script>
</head>

<body>
<h2>售后订单列表</h2> 
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th id="feedback_roll">反馈编号</th>
            <th id="aftersale_roll">售后编号</th>
            <th id="question_type">处理类型</th>
            <th id="employee_id">售后人员</th>
            <th id="feedback_date">反馈日期</th>
            <th id="others">处理情况说明</th>
            <th id="charge">收费</th>
            <th id="confirment">客户确认</th>
            <th id="alter">修改</th>
        </tr>
    </thead>

    {volist name="feedbackInfo" id="Info" }
    <tr>
        <td>{$Info.feedback_roll}</td>
        <td>{$Info.aftersale_roll}</td>
        <td>{$Info.feedback_type}</td>
        <td>{$Info.employee_id}</td>
        <td>{$Info.feedback_date}</td>
        <td>{$Info.others}</td>
        <td>{$Info.charge}</td>
        <td>{$Info.confirment}</td>
        <td><button class="submit" id={$Info.feedback_roll}">修改</button></td>
    </tr>
    {/volist}
</table>
{$feedbackInfo->render()}
</body>
</html>