<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../public/static/layui/css/layui.css">
  <script src="../../../public/static/js/jquery-3.3.1.js"></script>
  <script src="../../../public/static/layui/layui.js"></script>

  <script>
    //Demo
    layui.use('form', function () {
      var form = layui.form;

      // 监听提交
      form.on('submit(formDemo)', function (data) {
        // layer.msg(JSON.stringify(data.field));
        layer.msg($data);
        return false;
      });
    });
    $(document).ready(function(){
      $("#test").ajaxForm(function(data){
	              alert("返回的值是" + data);
	        });	
    });
     
  </script>
</head>

<body>




    <!-- action="../../customOrder/Update_order/update.html" -->
  <form class="layui-form" id="test" action="../../customOrder/Update_order/update.html">

    <div class="layui-form-item">
      <label class="layui-form-label">订单编号</label>
      <div class="layui-input-block">
        <input type="text" name="order_num" disabled lay-verify="required" value="{$info.order_num}" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <input type="hidden" name="order_num" value="{$info.order_num}" >
    <div class="layui-form-item">
      <label class="layui-form-label">顾客信息</label>
      <div class="layui-input-block">
        <input type="text" name="custom_num" disabled value="{$info.name}" class="layui-input">
        <input type="text" name="custom_num" disabled value="{$info.address}" class="layui-input">
        <input type="text" name="custom_num" disabled value="{$info.level}" class="layui-input">
        <input type="text" name="custom_num" disabled value="{$info.phnone}" class="layui-input">
        <input type="text" name="custom_num" disabled value="{$info.link_man}" class="layui-input">


        
      </div>

    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">订单时间</label>
      <div class="layui-input-block">
        <input type="text" name="time" disabled value="{$info.order_time}" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">选择渠道</label>
      <div class="layui-input-block">
        <select name="channel" lay-verify="required">
          <option value="{$info.order_channel}">{$info.order_channel}</option>
          <option value="官方商城">官方商城</option>
          <option value="电商自营店">电商自营店</option>
          <option value="加盟实体店">加盟实体店</option>
          <option value="自营实体店">自营实体店</option>

        </select>
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-inline">
          <div class="layui-input-inline">
          <input type="number" name="amount" value="{$info.amount}" class="layui-input">
          </div>
          <label class="layui-form-label">单价</label>
          <div class="layui-input-inline">
              <input type="text" name="unPrice" value="{$info.unit_price}" class="layui-input">
              </div>
        </div> 
  </div>

        <div class="layui-form-item">
          <label class="layui-form-label">销售人员</label>
          <div class="layui-input-block">
            <input type="text" name="saler" value="{$info.employee_name}" class="layui-input-inline"  disabled>
            <input type="text" name="saler" value="{$info.phone}" class="layui-input-inline"  disabled>
            <input type="text" name="saler" value="{$info.department_name}" class="layui-input-inline"  disabled>

          </div>
        </div>
        

                        
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>


  </form>


</body>

</html>