<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__ROOT__/static/layui/css/layui.css">
    <script src="__ROOT__/static/js/jquery-3.3.1.js"></script>
    <script src="__ROOT__/static/layui/layui.js"></script>

    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            // 监听提交
            form.on('submit(formDemo)', function (data) {
                // layer.msg(JSON.stringify(data.field));
                layer.msg($data);
                return false;
            });
        });
        $(document).ready(function () {
            $("#test").ajaxForm(function (data) {
                alert("返回的值是" + data);
            });
        });

    </script>
</head>

<body>
    <!-- action="../../customOrder/Update_order/update.html" -->
    <form class="layui-form" id="test" action="http://localhost/tp6/public/feedback/UpdateFeedback/update.html">

        <div class="layui-form-item">
            <label class="layui-form-label">反馈订单编号</label>
            <div class="layui-input-block">
                <input type="text" name="feedback_roll" readonly lay-verify="required" value="{$info.feedback_roll}"
                    autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">售后订单编号</label>
            <div class="layui-input-block">
                <input type="text" name="aftersale_roll" readonly lay-verify="required" value="{$info.aftersale_roll}"
                    class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">处理类型</label>
            <div class="layui-input-block">
                <select name="feedback_type" value="{$info.feedback_type}" lay-verify="required">
                    <option value="退货">退货</option>
                    <option value="换货">换货</option>
                    <option value="维修">维修</option>
                    <option value="咨询">咨询</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">反馈日期</label>
            <div class="layui-input-block">
                <input type="date" name="feedback_date" readonly value="{$info.feedback_date}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">费用</label>
            <div class="layui-input-block">
                <input type="number" name="charge" value="{$info.charge}" class="layui-input"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">受理人员</label>
            <div class="layui-input-block">
                <input type="text" name="employee_id" value="{$info.employee_id}" readonly class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">处理情况说明</label>
            <div class="layui-input-block">
                <input type="text" name="others" value="{$info.others}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" for="name">客户确认</label>
            <br>
            <label>
                <input type="radio" name="confirment" id="confirment1" value="1" checked> 确认
            </label>
            <label>
                <input type="radio" name="confirment" id="confirment0" value="0"> 未确认
            </label>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>


    </form>


</body>

</html>