<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__ROOT__/static/layui/css/layui.css">
    <script src="__ROOT__/static/js/jquery-3.3.1.js"></script>
    <script src="__ROOT__/static/layui/layui.js"></script>

    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            // 监听提交
            form.on('submit(formDemo)', function (data) {
                // layer.msg(JSON.stringify(data.field));
                layer.msg($data);
                return false;
            });
        });
        $(function () {
            $('#confirm').click(function () {
                var result = confirm("确定要提交吗？");
                if (result) {
                    $('#test').submit();
                }
            });
        });

    </script>
</head>

<body>


    <form class="layui-form" id="test" action="http://localhost/tp6/public/afterSale/AfterSale/insert.html">

        <div class="layui-form-item">
            <label class="layui-form-label">售后单号</label>
            <div class="layui-input-block">
                <?php
                if(isset($flag)){
                    echo "<p>".$flag."</p>";
                }
                else{
                    echo "<p>".$aftersaleroll."</p>";
                }
                ?>
                <input type="hidden" name="aftersale_roll" value="{$aftersaleroll}" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">订单编号</label>
            <div class="layui-input-block">
                <?php
                    if(isset($flag)){
                        echo "<p>".$flag."</p>";
                    }
                    else{
                        echo "<p>".$saleID."</p>";
                    }
                    
                    ?>

                <input type="hidden" name="order_num" value="{$saleID}" class="layui-input" />
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">问题类型</label>
            <div class="layui-input-block">
                <p>{$type}</p>
                <input type="hidden" name="question_type" value="{$type}" class="layui-input" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">问题内容</label>
            <div class="layui-input-block">
                <p>{$content}</p>
                <input name="question" type="hidden" readonly value="{$content}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">受理日期</label>
            <div class="layui-input-block">
                <p>{$date}</p>
                <input type="hidden" name="date" value="{$date}" class="layui-input" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">受理人员</label>
            <div class="layui-input-block">
                <?php echo "<p>".$_COOKIE['employee_id']."</p>";?>
                <?php echo "<input type='hidden' value=".$_COOKIE['employee_id']." name='saleperson' class='layui-input'>"; ?> 
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <?php
                if(isset($flag)){
                    echo "<button class='layui-btn' id='confirm' disabled lay-submit lay-filter='formDemo'>立即提交</button>";
                }
                else{
                    echo "<button class='layui-btn' id='confirm' lay-submit lay-filter='formDemo'>立即提交</button>";
                }
                ?>
                
            </div>
        </div>


    </form>




</body>

</html>