<!DOCTYPE html>
<html>
    <style>
        @font-face
                {
                    font-family: myfont;
                    src:url('__ROOT__/static/font/GunfighterAcademy-Regular.ttf');
                }
    
    </style>
<head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="theme.css" type="text/css"> 
        
</head>
<body style="background-color: powderblue;">
    <div class="container" style=" height:452px;">
        <div class="row">
            <div class="offset-md-1 col-md-10"></div>
            <br>
            <br>
            <br>
            <br>
            <form action="" method="post">
                <fieldset>
                    <legend>权限修改</legend>
                    <table>
                        <thead>
                            <tr>
                            
                            <td colspan="4"><div style="padding-left:20px">你正在为 
                            <span style="font-weight:bolder;font-size:20px;color:red;">xxx</span> 
                            角色修改权限</span> </div></td>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height:100px;">
                                <td style="padding-left:20px"><input type="checkbox" name="a" value="1">顾客信息</td>
                                <td style="padding-left:20px"><input type="checkbox" name="b" value="2">产品信息</td>
                                <td style="padding-left:20px"><input type="checkbox" name="c" value="3">部门信息</td>
                                <td style="padding-left:20px"><input type="checkbox" name="d" value="4">订单信息</td>
                                <td style="padding-left:20px"><input type="checkbox" name="b" value="2">服务信息</td>
                                <td style="padding-left:20px"><input type="checkbox" name="b" value="2">部门管理</td>
                                <td style="padding-left:20px"><input type="checkbox" name="b" value="2">人员管理</td>
                                <td style="padding-left:20px"><input type="checkbox" name="b" value="2">产品管理</td>
                                <td style="padding-left:20px"><input type="checkbox" name="b" value="2">顾客管理</td>
                                <td style="padding-left:20px"><input type="checkbox" name="b" value="2">统计报表</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-left:100px;"><button id="btn" type="submit" class="btn btn-primary">Submit</button></td>
                                <td colspan="2"><button id="btn" type="button" class="btn btn-primary" onclick="javascript:history.back(-1);">Cancel</button></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>    
                    
                    
            </form>
            <br>
            <br>
            

            </div>
        </div>
    </div>  
</body>  
</html>